.curseclient
config/jei/worldSettings.cfg
crafttweaker.log
dropt.log
hei_bookmarks.ini
icon.png
knownkeys.txt
minecraftinstance.json
mputils/settings.dat
options.txt
optionsof.txt
servers.dat
time.history
usercache.json
usernamecache.json

backups/
classOut/
crash-reports/
local/
logs/
mods/.index
mods/1.12.2/
mods/memory_repo/
profileImage/
relauncher/
saves/
screenshots/
vintagefix/

#Modernized-specific
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/chiselsandbits_clipboard.cfg
config/normalasm/methods-stable_39.csv
config/spark/activity.json
config/splash.properties
mods/Piston-API-v1.0.2-mc1.12.2.jar
mods/OptiFine_1.12.2_HD_U_G6_pre1.jar
patchouli_data.json

emojicord/cache/
ESM/
journeymap/data/
journeymap/journeymap.log
llibrary/
voxelmap/cache/
