# Configuration file

general {
    # Change the volume of boss music used in the mod
    D:"Boss Music Volume"=1.0

    # Change the cooldown in seconds of the Champion's Spear AOE ability
    I:"Champion's Spear AOE Cooldown"=30

    # Change the base damage of the Champion's Spear
    D:"Champion's Spear Base Damage"=6.0

    # Change the cooldown in seconds of the Champion's Spear Dash ability
    I:"Champion's Spear Dash Cooldown"=15

    # Change the Champion's Spear bonus damage when using the ability. It is base weapon damage + bonus damage
    I:"Champion's Spear Dash Damage Bonus"=9

    # Change the cooldown in seconds of the Finger Shield
    I:"Finger Shield Cooldown"=20

    # Change the damage of the Finger Shield's ability
    I:"Finger Shield Damage"=7

    # Change the base damage of the Great Finger
    D:"Great Finger Base Damage"=8.5

    # Change the cooldown in seconds of the Great Finger weapon ability
    I:"Great Finger's Cooldown"=20

    # Change the damage bonus of using the Great Finger's weapon ability. It is base damage + bonus damage
    I:"Great Finger's Damage Bonus"=3

    # Does having above 75% of the Greed Cap delete most items related to the mod upon death. This is for balancing purposes.
    B:"High Greed Delete Items"=true

    # When the random chance of 0-1 goes below this value. The Manus Goop Block will try to spread itself to nearby blocks that are not Manus Blocks
    D:"Manus Goop Block Spread Chance"=0.06

    # Change the base damage of the Manus Goop Covered Sword
    D:"Manus Goop Covered Sword Base Damage"=5.5

    # Change the cooldown in seconds of the Manus Goop Covered Sword's ability
    I:"Manus Goop Covered Sword Cooldown"=60

    # When using the Manus Goop Covered Sword's ability, change the damage cap for it
    I:"Manus Goop Covered Sword Damage Cap"=15

    # Should the Manus Helmet show a face overlay when equipped. This is the version where it overrides the players face.
    B:"Manus Helmet Face Overlay"=false

    # Change the Greed Cap before all negative effects are applied to the player. The greed cap gets added when the Greedy Potion is active
    I:"Player Greed Cap"=600

    # Change the cooldown in seconds of the Scroll of living Greed
    I:"Scroll of Living Greed Cooldown"=5

    # Change the damage cap of the Scroll of Living Greed
    I:"Scroll of Living Greed Damage Cap"=25

    # Change the cooldown in seconds of the Trinket of the Hand
    I:"Trinket of the Hand Cooldown"=45

    # For Balancing purposes, you can have it to where when x damage is done by this trinket. It will not excee this cap value. 0 sets it to no cap
    I:"Trinket of the Hand Damage Negative"=0
}


