# Configuration file

general {
    # Change the Attack Damage of the Apostle Hand
    D:"Apostle Hand Attack Damage"=20.0

    # Change the Health of the Apostle Hand
    D:"Apostle Hand Health"=130.0

    # Change what block must be placed near the Manus Avaritia for Diamond Tier trades. Works with 'modId:blockName'.
    S:"Hand of Greed Diamond Tier"=minecraft:diamond_block

    # Change what block must be placed near the Manus Avaritia for Gold Tier trades. Works with 'modId:blockName'.
    S:"Hand of Greed Gold Tier"=minecraft:gold_block

    # Change the Health of the Hand of Greed
    D:"Hand of Greed Health"=15.0

    # Change what block must be placed near the Manus Avaritia for Iron Tier trades. Works with 'modId:blockName'.
    S:"Hand of Greed Iron Tier"=minecraft:iron_block

    # Change the Armor of the Nameless Champion
    D:"Nameless Champion Armor"=16.0

    # Change the Armor Toughness of the Nameless Champion
    D:"Nameless Champion Armor Toughness"=6.0

    # Change the Attack Damage of the Nameless Champion
    D:"Nameless Champion Attack Damage"=22.0

    # Change the cooldown when the Nameless Champion is above half health. In ticks, 20 ticks equals 1 second.
    I:"Nameless Champion Cooldown First Phase"=20

    # Change the cooldown when the Nameless Champion is below half health. In ticks, 20 ticks equals 1 second.
    I:"Nameless Champion Cooldown Second Phase"=10

    # Change the Health of the Nameless Champion
    D:"Nameless Champion Health"=400.0

    # In seconds, How long does it take before the Nameless Champion resets itself after defeating all players nearby
    I:"Nameless Champion Reset Time"=25

    # What Items can be traded for Trinket of Destiny. Works with 'modID:itemName'. Must be an item, and not a block.
    S:champion_locator_trade_items <
        minecraft:ender_pearl
     >

    # What Items can be traded for Depths Brain. Works with 'modID:itemName'. Must be an item, and not a block.
    S:depths_brain_trade_items <
        minecraft:emerald
     >

    # What Items can be traded for Ferment Stonebricks. Works with 'modID:itemName'. Must be an item, and not a block.
    S:ferment_stonebricks_trade_items <
        minecraft:leather
        minecraft:flint
     >

    # What Items can be traded for Grafted Core. Works with 'modID:itemName'. Must be an item, and not a block.
    S:grafted_core_trade_items <
        minecraft:blaze_rod
     >

    # What Items can be traded for Great Finger. Works with 'modID:itemName'. Must be an item, and not a block.
    S:great_finger_trade_items <
        minecraft:gold_ingot
     >

    # What Items can be traded for Hemoglehpin. Works with 'modID:itemName'. Must be an item, and not a block.
    S:hemoglephin_trade_items <
        minecraft:diamond
     >

    # What Items can be traded for Manus Goop. Works with 'modID:itemName'. Must be an item, and not a block.
    S:manus_goop_trade_items <
        minecraft:iron_ingot
     >

    # What Items can be traded for Manus Stick. Works with 'modID:itemName'. Must be an item, and not a block.
    S:manus_stick_trade_items <
        minecraft:coal
     >
}


