# Configuration file

general {
    # Change the maximum Y Height of the Champion's Grave structure
    I:"Champion's Grave Max Y height"=200

    # Change the minimum Y Height of the Champion's Grave structure
    I:"Champion's Grave Min Y height"=40

    # Change the spacing of the Champion's Grave structure
    I:"Champion's Grave Spacing"=95

    # Change the static Y at which the Champion's Grave is at. The structure will also change to look more floating like
    I:"Champion's Grave Static Y Backup"=120

    # Add Biome types that DISALLOW the Helios Divinity structures from spawning in that biome, examples of tags are HOT, COLD, SPOOKY
    S:"Helios Divinity Blacklisted Biome Types" <
        DENSE
        NETHER
        END
        MUSHROOM
        OCEAN
        RIVER
        MESA
        BEACH
     >

    # Helios Divinity Structures are allowed to spawn in x dimensions. ID numbers only!
    I:"Helios Divinity Structures Allowed Dimensions" <
        0
     >

    # Change the maximum Y height of the Manus Altar structure
    I:"Manus Altar Max Y height"=200

    # Change the minimum Y height of the Manus Altar structure
    I:"Manus Altar Min Y height"=40

    # Change the spacing of the Manus Altar structure
    I:"Manus Altar Spacing"=65

    # Change the static Y at which the Manus Altar is at. The structure will also change to look more floating like
    I:"Manus Altar Static Y Backup"=95

    # Change if the y height can't be found, the structure will spawn in the air with it looking more floating like
    B:"Static Y Backup Structures Enabled/Disabled"=true

    # Change if the mod should use its flying structure variants instead. Make sure you have backup structures enabled
    B:"Use Flying Structures Instead Enabled/Disabled"=false
}


