# Configuration file

chalk {
    # Which dimensions can chalk generate in?
    I:dimensions <
        0
     >

    # Maximum Y level chalk can generate. (Setting below 0 or above 255 may cause issues if a world extension mod is not installed)
    I:maxHeight=75

    # Minimum Y level chalk can generate. (Setting below 0 or above 255 may cause issues if a world extension mod is not installed)
    I:minHeight=55

    # Size of block generation to generate
    I:size=33

    # Number of chances for chalk to generate (Set to 0 to disable generation)
    I:spawnChances=2
}


generation {
    # Which biomes can chalk generate in (Can specify either biomes names or Biome Dictionaries)?
    S:generationBiomes <
        BEACH
        OCEAN
        PLAINS
        FOREST
     >

    # Which biomes can chalk can never generate in (Overrides generationBiomes, Can specify either biomes names or Biome Dictionaries)?
    S:generationBiomesBlacklist <
     >
}


lavender {
    # Which dimensions can lavender generate in?
    I:dimensions <
        0
     >

    # Maximum amount of lavender to spawn per patch.
    I:maxSize=7

    # Minimum amount of lavender to spawn per patch
    I:minSize=3

    # Chance for lavender to spawn per chunk (Set to 0 to disable generation)
    I:spawnChances=20
}


