# Configuration file

general {
    # Config Versions help inform modpack makers/config users if changes have been made to the config between updates. These differ from main versioning, since the config file is static.
    # Basically, you compare the current default of this value, to the default of when you generated it.
    # 
    # The versioning follows:
    # 0.0.x - Default values have been slightly adjusted.
    # 0.x.0 - Config options have been added.
    # x.0.0 - Previous Config Options have been completely overhauled and/or removed. Creating a fresh file is recommended.
    S:configVersion=1.0.0

    ##########################################################################################################
    # entity
    #--------------------------------------------------------------------------------------------------------#
    # Config related to Veilings themselves
    ##########################################################################################################

    entity {
        # Items that Veiling will eat, and how much Happiness they give.
        S:veilingTreatList <
            minecraft:cake=20
            minecraft:cookie=5
            minecraft:pumpkin_pie=10
            minecraft:sugar=2
         >

        ##########################################################################################################
        # custodian
        #--------------------------------------------------------------------------------------------------------#
        # Config specific for Veiling Custodians
        ##########################################################################################################

        custodian {
            # The mood shift when a Veilings is given a new name (by their owner), for the first time only.
            I:baseAttackDamage=4

            # The mood shift when a Veilings is given a new name (by their owner), for the first time only.
            I:baseHealth=8
        }

        ##########################################################################################################
        # deft
        #--------------------------------------------------------------------------------------------------------#
        # Config specific for Veiling Defts
        ##########################################################################################################

        deft {
            # The mood shift when a Veilings is given a new name (by their owner), for the first time only.
            I:baseAttackDamage=4

            # The mood shift when a Veilings is given a new name (by their owner), for the first time only.
            I:baseHealth=8
        }

        ##########################################################################################################
        # dramatist
        #--------------------------------------------------------------------------------------------------------#
        # Config specific for Veiling Dramatists
        ##########################################################################################################

        dramatist {
            # The mood shift when a Veilings is given a new name (by their owner), for the first time only.
            I:baseAttackDamage=4

            # The mood shift when a Veilings is given a new name (by their owner), for the first time only.
            I:baseHealth=8
        }

        ##########################################################################################################
        # mood
        #--------------------------------------------------------------------------------------------------------#
        # All config for the Mood System
        ##########################################################################################################

        mood {
            # Veilings slightly dislike Sunlight.
            B:enableSunlightDislike=true

            # Tantruming Veilings turn Wicked. If disabled, they rebound to a low mood after a tantrum.
            B:enableTurningWicked=true

            # If Veilings should fear (and flee from) Zombies.
            B:enableZombieFear=true

            # The mood shift when a Veilings Multiplies.
            I:veilingMultiply=-20

            # The mood shift when a Veilings is given a new name (by their owner), for the first time only.
            I:veilingNewName=100

            # The mood shift when a Veilings friends (ones of the same owner) die.
            I:veilingSympathy=-5
        }

        ##########################################################################################################
        # multiply
        #--------------------------------------------------------------------------------------------------------#
        # All config for the Multiplying System
        ##########################################################################################################

        multiply {
            # Enables the Multiplying via Water System.
            B:enableMultiplying=true

            # Cause a literal mini-explosion when multiplying. DOES damage terrain, only a little.
            B:enableSpawnExplosion=false

            # Child Veilings inherit the Mood of their Parent. Else they start with Max Mood.
            B:spawnInheritsParentMood=true
        }

    }

}


